 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 744px;
}

.u-section-1 .u-image-1 {
  width: 515px;
  height: 764px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 5.5rem;
  font-weight: 700;
  margin: -624px 534px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 19px 419px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 400px;
  margin: 19px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 71px;
}

.u-section-1 .u-container-layout-1 {
  padding: 11px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 22px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 71px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 334px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 504px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -364px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 651px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  margin: 74px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 470px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 210px;
  width: 210px;
  background-image: url("images/ladies1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.875rem;
  margin: 32px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 210px;
  width: 210px;
  background-image: url("images/gents1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.875rem;
  margin: 32px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 210px;
  width: 210px;
  background-image: url("images/kids1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.875rem;
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 388px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 892px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1177px;
}

.u-section-3 .u-shape-1 {
  height: 552px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-group-1 {
  width: 838px;
  min-height: 205px;
  margin: -504px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 42px 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 950px;
  width: 1140px;
  grid-gap: 17px 17px;
  margin: 45px auto 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 23px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 23px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 23px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 23px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 23px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 23px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1008px;
  }

  .u-section-3 .u-shape-1 {
    height: 519px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -471px;
  }

  .u-section-3 .u-text-1 {
    font-weight: bold;
  }

  .u-section-3 .u-gallery-1 {
    width: 940px;
    height: 781px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1595px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    min-height: 186px;
    margin-top: -452px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 720px;
    height: 1368px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 4411px;
  }

  .u-section-3 .u-shape-1 {
    height: 1132px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: -1065px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    height: 4184px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2893px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    height: 2666px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 929px;
}

.u-section-4 .u-shape-1 {
  height: 519px;
  background-image: none;
  width: 553px;
  margin: 60px 0 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -748px auto -169px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 809px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 61px 60px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 809px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 677px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 843px;
  }

  .u-section-4 .u-shape-1 {
    height: 400px;
    width: 445px;
    margin-top: 55px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -630px;
    margin-bottom: -174px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-4 .u-image-1 {
    height: 558px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1409px;
  }

  .u-section-4 .u-shape-1 {
    width: 592px;
    margin-top: 920px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1265px;
    margin-bottom: 55px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 697px;
  }

  .u-section-4 .u-image-1 {
    height: 548px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1043px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 660px;
  }

  .u-section-4 .u-image-1 {
    height: 507px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1415px;
  }

  .u-section-4 .u-shape-1 {
    height: 269px;
    width: calc(((100% - 340px) / 2) + 280px);
    margin-top: 55px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1280px;
    margin-bottom: -956px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-4 .u-image-1 {
    height: 319px;
  }
}